<strong>Olá, {{ nome }} </strong>
<p>Estamos quase lá!!!</p>
<p>Acesse o link a baixo para ativar sua conta :) </p>
<br />
<a href="localhost:3000/activateaccount/{{ token }}">Link para ativação da conta</a>
<br />
<p>Caso não tenha solicitado seu ingresso ao sistema desconsidere este e-mail</p>
