<strong>Olá, {{ nome }} </strong>
<p>Bem vindo(a) ao sistema de oportunidades da Faesb.</p>
<p>Ficaremos felizes em ajudar nesta jornada!!!</p>
<p>Sua conta esta ativa e pronta para utilizar</p>
<p>Acesse o link a baixo para iniciar :) </p>
<br />
<a href="localhost:3000/">Link de acesso ao sistema</a>
<br />
