<strong>Solicitação de ativação de conta empresarial. </strong>
<p>Empresa {{ name }} esta solicitando ativação do sistema de Oportunidades da Faesb</p>
<p>Acesse o link a baixo para ativar a conta </p>
<br />
<a href="localhost:3000/activateaccount/{{ token }}">Link para ativação da conta</a>
<br />
<p>Caso não tenha solicitado seu ingresso ao sistema desconsidere este e-mail</p>
